<launch>
  <arg name="world_frame" default="world"/>
  <arg name="target_frame" default="odom"/>
  <arg name="config_file" default="$(find people_extraction)/config/people.yaml"/>

  <!-- output topics -->
  <arg name="pub_frequency" default="10.0"/>
  <arg name="people_topic" default="/people"/>
  <arg name="position_topic" default="/people_pos"/>

  <arg name="ns" default="people_extraction"/>
  <rosparam file="$(arg config_file)" command="load" ns="$(arg ns)" />

  <node name="people_extraction" pkg="people_extraction" type="people_extraction_node" output="screen" ns="$(arg ns)">
    <remap from="/people" to="$(arg people_topic)"/>
    <remap from="/people_measurements" to="$(arg position_topic)"/>
    <param name="pub_frequency" value="$(arg pub_frequency)"/>

    <param name="world_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="$(arg target_frame)"/>
  </node>
</launch>
